artifacts
config/__pycache__
heart_disease_mlops.egg-info
infrastructure/.terraform
infrastructure/.terraform.lock.hcl
infrastructure/heart-disease-gcp-key.json
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
logs
mlruns
notebooks/saved_model
notebooks/train.csv
src/__pycache__
utils/__pycache__
venv
mlflow.db